@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
}


.text-custom {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.textbold-custom {
    font-family: 'Poppins', sans-serif;
    font-weight: 500  ;
}

.textbold-custom2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700 ;
}

.textlight-custom {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.textlight-custom2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.text-orbitron {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;

}

.container-custom {
    text-align: center;
    position: relative;
    
}




.navbar-custom {
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 100%, rgba(197,194,194,1) 100%, rgba(242,242,242,1) 100%); */
    /* background: transparent; */
     
  
}

body {
    background-image: url(/skyscraperopac08.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    
    

}



/* @media only screen and (max-width: 600px) {
    body {
        background-image: url(/skyscraper.jpg);
        height: 100vh ;
        background-repeat: no-repeat;
        background-size: contain
    }
  } */
